body{
    font-family: Bahnschrift, consolas, monospace;
    font-size: 12pt;
}

#header p{
    display: inline-block;
    font-size: 13pt;
}

#controls
{
    display: block;
    float: right;
    margin: inherit;
}

table{
    width: 100%;
    color: white;
    background-color: #1010FF;
    border-collapse: collapse;
    border: none;
    margin-bottom: 2.5em;
}

#journeytables table{
    margin-bottom: 1em;
}

table tr{
    text-align: left;
}